.EvaluationResume{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.Encapsula{
    display: flex;
}

.Field{
    min-width: 30%;
    padding: .5rem 1rem;
}

.Response{
    flex: 1;
    padding: .5rem 1rem;
}

.Response p, .Field p{
    margin-bottom: 0;
    text-align: left;
}

.Encapsula:not(:last-child){
border-bottom: 1px solid var(--SoftDark);
}

.Encapsula:last-child{
    margin-bottom: 2rem;
}