label{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

textarea{
    padding: 1rem 1.5rem;
    margin-top: 1rem;
    flex: 1;
    border: none;
    border-radius: .5rem;
    outline: none;
    resize: none;
    border: none;
}
