.StepsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.Step{
    font-size: 2rem;
    z-index: 1;
    background-color:var(--NeutralWhite);
    padding: 0 1rem;
    text-shadow: 0 0 10px var(--SmoothDark);
}

.Step p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0;
}

.StepsContainer::after{
    content: "";
    width: 0%;
    position: absolute;
    top: 50%;
    left: 6.1rem;
    border-bottom: 5px solid var(--SmoothGreen);
    transition: 2s ease-in-out;
    border-radius: 5rem;
}

.StepsContainer.secondStep::after{
    width: 45%;
}

.StepsContainer.thirdStep::after{
    width: 85%;
}

.Step.completed, .Step.completed>p{
    color: var(--SmoothGreen);
    opacity: 1;
    text-shadow: 0 0 20px var(--SmoothGreen);

}

@media (max-width: 600px) {
    .Step{
        font-size: 20px;
        padding: 0;
    }
}