.StepsContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    position: relative;
}

.Step{
    font-size: 2rem;
    z-index: 1;
    background-color:var(--NeutralWhite);
    padding: 0 1rem;
    text-shadow: 0 0 10px var(--SmoothDark);
}

.Step p{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 0;
}

/* .Step,.Step>p{
    opacity: .4;
} */

.StepsContainer::after{
    content: "";
    width: 0%;
    position: absolute;
    top: 50%;
    left: 6.1rem;
    border-bottom: 2px solid var(--SmoothGreen);
    transition: 2s ease-in-out;
}

.StepsContainer.secondStep::after{
    width: 40%;
}

.StepsContainer.thirdStep::after{
    width: 85%;
}


.Step.active, .Step.active>p{
    color: var(--DarkBlue);
    opacity: 1;
}

.Step.active{
    font-size: 2.5rem;
}

.Step.completed, .Step.completed>p{
    color: var(--SmoothGreen);
    opacity: 1;
    text-shadow: 0 0 20px var(--SmoothGreen);

}
