:root{
    --NeutralWhite: #f5f4f4;
    --LightWhite: #fffefe;
    --Dark: #272727;
    --AbsoluteDark: #000000;

    --LightBlue: #1434eb;
    --DarkBlue: #0e2086;
    --SmoothGreen: #5d8d51;
    
    --SmoothDark: #00000085;
    --SoftDark: rgba(46, 46, 46, 0.664);

}

a{
    text-decoration: none;
}

h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-weight: 550;
    color: var(--Dark);
    margin-bottom: 2rem;
    text-align: center;
}

h2{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--Dark);
}

h3{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--DarkBlue);
    margin-bottom: 2rem;
}


p{
    font-size: 20px;
    font-weight: 350;
    color: var(--AbsoluteDark);
    margin-bottom: .5rem;
    text-align: center;
}

label{
    font-size: 15px;
    font-weight: 400;
    color: var(--AbsoluteDark);
}

.subParagraph{
    font-style: italic;
    font-size: 15px;
    margin-top: -1rem;
}

.ImportantParagraph{
    font-weight: 400;
    letter-spacing: -1px;
    text-shadow: 1px 1px 10px #0000004b;
}


@media (max-width: 700px) {
    p{
        font-size: 20px;
        padding: 0;

    }
}