body{
    display: flex;
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.MajorContainer{
    background-color: var(--NeutralWhite);
    width: 60vw;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 5px solid var( --SoftDark);
    border-radius: 1rem 1rem 0 0 ;
    box-shadow: 0px 0px 20px 0px var(--SmoothDark);
}

header{
    width: 100%;
    margin-bottom: 4rem;    
}

.Buttons{
    display: flex;
    width: 80%;
    margin-top: 4rem;
    justify-content: right;
    gap: 2rem;
}

.Text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem;
    min-width: 70%;
    text-align: left;
}

.Text.hidden{
    display: none;
}

.Text.active{
    display: block;
}

.Text p{
    max-width: 60%;
    text-align: center;
    margin-bottom: 2rem;
}

.Text label{
    justify-content: left;
}
